[toolchain]
anchor_version = "0.29.0"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
trasim_factory = "9TZMBuroxJrZvNYaVTSNhXPUzc5xdjU1WJjTLcyaVEAg"
trasim_market = "67RSFmYbP9RMPVDpoBqa6g2GM9RxsHDEt6A4qf7aU1yz"
trasim_rewards = "3DvyQntgVJWCF77LJcFe2LvjoG7mKnEpfjjzk3KtVH3B"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
